<div onload='ok()' id='page'>
<button id='ok'>OK</button>

<h2>Hours Of Operation: 7AM - 9PM</h2>
<br>

<h4>Choose Date</h4>
<br>

<div class='date'>
<input class='day' type="text" data-provide='datepicker' >
</div>


<p>Find me in app/views/users/show.html.erb</p>
<%= link_to 'Logout' ,logout_path %>
<br>


<div class= 'listandmap'>

<div id='list' style="height:500px;width:400px;float:left;margin-right:50px">

</div>
<div id='map' style="height:500px;width:500px;float:left"></div>
</div>

</div>

