<div onload='ok()' id='page'>
<button id='ok'>OK</button>
<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= link_to 'Logout' ,logout_path %>
<br>

<div id='list' style="height:500px;width:700px;float:left;margin-right:50px">

</div>
<div id='map' style="height:500px;width:600px;float:left"></div>
</div>
