<table id='show_history'>
  <tr>
  <th>
  Vehicle
  </th>
  <th>
  picked_in
  </th>
  <th>
  dropped_in
  </th>
  <th>
  Date reserved
  </th>
  <th>
  Date droped
  </th>
  <th>
  Show in map
  </th>

</tr>

</table>
