// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul, ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
	color:#858585;
	font-size: 14px;
	line-height:24px;
	margin-bottom:20px;
}

ul li, ol li{
	font-size: 14px;
	line-height: 28px;
}

ul li i{
	vertical-align: middle;
}
ul.pricing-list li span{
	font-family: 'Roboto', sans-serif;
	font-size: 70px;
	line-height: 70px;
	display: block;
	margin-top:30px;
	margin-bottom: 20px;
}
p {
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #7c8595;
	margin-bottom:15px;
}
.home-section {
	background: url('http://www.sftravel.com/sites/sftraveldev.prod.acquia-sites.com/files/landmark-images/golden-gate_web.jpg');
  	// background: -webkit-linear-gradient(left top, #008aff, #1ad2fd); /* For Safari 5.1 to 6.0 */
  	// background: -o-linear-gradient(bottom right, #008aff, #1ad2fd); /* For Opera 11.1 to 12.0 */
  	// background: -moz-linear-gradient(bottom right, #008aff, #1ad2fd); /* For Firefox 3.6 to 15 */
  	// background: linear-gradient(to bottom right, #008aff, #1ad2fd); /* Standard syntax */
  	padding: 145px 0 125px 0;
}

.home-section h1{
	font-size: 36px;
	line-height: 44px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 1px;
	display: inline-block;
}

.home-section p{
	font-size: 19px;
	line-height: 28px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 30px;
}
.btn-white {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 22px;
	border: 2px solid #fff;
	border-radius: 5px 5px;
	padding: 15px 30px;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}
.btn-white:hover{
	color: #008aff;
	background: #fff;
	border: 2px solid #fff;
}
.frame-border{
	margin-top:10px;
	border:1px solid rgba(0, 0, 0, 0.40);
    border-radius: 5px 5px 5px 5px;
    vertical-align: right;
}
.section-grey{
	background: #f2f7f8;
	padding: 5px 0;
}

.section-white {
	background: #fff;
	padding: 30px 0;
}
.about-box {
	margin-top: 20px;
	text-align: center;
}
.about-box i{
	font-size: 58px;
	margin-bottom: 0;
	color:#4285f4;
	display: inline-block;
	line-height: 90px;
	cursor: pointer;
	border-radius: 50%;
	width: 90px;
	height: 90px;
}
.how-to-use{
	width: 100%;
	height: 300px;
}
.mid-icon{
	background-color: black;
}
.mid-sign-up{
	padding: 2% 35%;
}
.team-box{
	position: relative;
	overflow: hidden;
	margin: 30px 0;
}

.team-box .team-text {
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #000;
    background: #f5f5f5;
    transform: translateY(100%);
    transition: transform .50s ease-out;
}

.team-text h5{
	margin: 0;
    padding: 10px 0 14px 0;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 22px;
	background: #f5f5f5;
    transform: translateY( calc(-99%) ); /* +10px overlay padding */
    transition: transform .50s ease-out;
}

.text-blue{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #4285f4;
}

.price-box-white{
	text-align: center;
	border: 2px solid #f8f8f8;
	padding-top:50px;
	width: 90%;
	margin-top:30;
	margin-bottom: 20px;
	margin-left: 20px;
	padding-bottom: 60px;
}

.price-box-grey{
	text-align: center;
	background: #f8f8f8;
	border: 2px solid #f8f8f8;
	padding: 50px 0;
	width: 90%;
	margin-top:30;
	margin-bottom: 20px;
	margin-left: 20px;
}
.price-box-blue{
	text-align: center;
	background: #4285f4;
	border: 2px solid #4285f4;
	padding: 50px 0;
	color:#fff;
	width: 90%;
	margin-top:30;
	margin-bottom: 20px;
	margin-left: 20px;
}
.price-title{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: 1px;
}
.price-tag{
	border: solid;
	background-color: #337ab7;
	color: white;
	padding: 10px;
	border-radius: 5px;
}
.price-tag:hover{
	color: white;
}
.white-text{ 
	color: #fff;
}
.team-images{
	width: 262px;
	height: 334px;
}
.gallery img{	
	border: groove;
	height: 500px;
	width: 350px;	
}

#contact-form{
	margin:0 auto;
	width:100%;
	max-width:960px;
	text-align:center;
	margin-bottom:10px;
}
textarea{
	height:205px;
	margin-bottom:20px;
	width:100%;
    padding-left:2%;
    padding-right:2%;
    padding-top:10px;
    padding-bottom:10px;
	color: #aaa;
	border: 1px solid #757575;
	background-color: transparent;
    font-size:14px;
    border-radius: 5px 5px 5px 5px;
}
p.contact_success_box{
	display:inline-block;
	color:#fff;
	font-size:20px;
	font-style:italic;
	padding:20px 20px;
	border:1px solid #fff;
    border-radius: 5px 5px 5px 5px;
}
input.contact-input{
	width:100%;
	height:55px;
    padding-left:2%;
    padding-right:2%;
	margin-bottom:20px;
	color: #aaa;
	border: 1px solid #757575;
	background-color: transparent;
    font-size:14px;
    border-radius: 5px 5px 5px 5px;
}
